.box {
  display: grid;
  grid-template-columns: repeat(3, 80px); /* 3x3 layout */
  grid-gap: 10px;
  justify-content: center;
  margin: 20px auto;
}
.box input[type="button"] {
  width: 80px;
  height: 80px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  background-color: #f2f2f2;
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
}

.restart{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 }

.restart:hover {
  background-color: #45a049;
}
